h2{
    text-align: center;
    font-size: 150px;
    color: black;
}
.container{
    width: 325px;  
    /* height: 385px;   */
    margin: auto;  
    border: 3px solid rgb(224, 15, 8);  
    border-radius: 5px;  
    padding: 20px;  
    margin-top: -120px;
}
#result{
    height: 70px;
    width: 111%;
    border-radius: 20%;
    margin-top: -13px;
    margin-left: -18px;
    font-size: 30px;
}
input {
    width: 67px;
    background-color: rgb(13, 13, 13);
    color: white;
    border: 3px solid gray;
    border-radius: 41px;
    padding: 22px;
    margin: 3px;
    font-size: 29px;
}
#AC{
    width: 92%;
    height: 72px;
}
